*{
    font-family: poppins;
    text-decoration: none;
    list-style-type: none;
    color: #687279;
    font-weight: 500;
    font-size: 15px;
}
.contactMe{
    background-color: #F1A204;
    color: white;
    border-radius: 5px;
    padding: 12px;
}
.atasDesc{
    color: #0c084c;
}
.beranda{
    color: #F1A204;
}
.container{
    width: 72%;
    margin: auto;
}
.hero{
    width: 85%;
    background-color: white;
    margin: auto;
}
br{
    line-height: 1px;
}
h3{
    color: #F1A204;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5%;
}
h1{
    color: #0c084c;
    font-weight: 600;
    font-size: 50px;
}
span{
    font-weight: 300;
    color: #0c084c;
    font-size: 16px;
}
img.gambarOrang{
    padding: 8% 0% 0% 20%;
}
/* img{
    padding: 0% 4% 0% 4%;
} */
i{
    color: #F1A204;
}
h1.judul-Komp{
    line-height: 60px;
}
img.partner-gambar{
    padding: 0% 4% 0% 4%;
}
.navbar{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    list-style-type: none;
    
}
.menu ul li{
    margin: 10px 15px 0px 0px;
    text-align: center;
    
}
a:hover{
    color: #F1A204;
}
a.contactMe:hover{
    background-color: #0c084c;
    color: white;
}
.hero{
    display: flex;
}
.kontakWA{
    display: flex;
    gap: 10px;
}
.daftar-Btn {
    color: white;
    background-color: #F1A204;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.program-Btn{
    color: #0c084c;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-width: 2px;
    cursor: pointer;
}
.jurusannn{
    padding: 0px 40px 0px 0px;
}
.partner{
    width: 85%;
    justify-content: start;
    align-items: center;
    margin: auto;
}
.partner-head{
    color: #0c084c;   
    margin: auto;
    padding: 5% 0% 0% 0%;
}
.fotoPartner{
    display: flex;
    align-items: center;
    justify-content: start;
}
.perusahaan{
    color: #0c084c;
}


.judul{
    text-align: center;
}
.judul p{
    text-align: center;
}
.judul-Mengapa{
    font-size: 40px;
    margin: 5% 0% 0% ;
}
.judulAlasan{
    font-size: 40px;
    font-weight: 400;
}
.kartu{
    display: flex;
    justify-content: center;
}


.card{
    background-color: #f2f5f7;
    /* width: 30%; */
    border-radius: 10px;
    transition: 0.3s;
    margin: 0% 2% 0% 2%;
    justify-content: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.voc-Text{
    font-size: 20px;
    color: #111518;
    font-weight: 600;
}
ul.list-Voc{
    padding: 0% 0% 10% 5%;
}
ul li{
    margin: 1% 0% 1% 0;
}

/* jurusan */
.jurusan{
    font-family: poppins;
    display: flex;
}
.jurusan .tkj{
    background-color: #ededed;
    color: rgb(108, 57, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.jurusan .tkj .tombolTkj{
    background-color: #f1a204;
    color:#ededed;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.jurusan .tkj .descTkj{
    color:rgb(119, 119, 119);
    font-weight: 400;
}
.donlotTkj{
    background-color: #0c084c;
    color: #ededed;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;  
    cursor: pointer; 
}
/* dkv */
.jurusan .dkv .tombolDkv{
    background-color: #f1a204;
    color:#ededed;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.descDkv{
    color:rgb(119, 119, 119);
    font-weight: 400;
}
.donlotDkv{
    background-color: #0c084c;
    color: #ededed;         
    padding: 15px;
    border-radius: 10px;
    margin-top: 45px;   
    text-align: center;
    cursor: pointer;
}
.jurusan .dkv{
    background-color: #ededed;
    color: rgb(108, 57, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
/* rpl */
.jurusan .rpl{
    background-color: #ededed;
    color: rgb(95, 57, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}
.jurusan .rpl .tombolRpl{
    background-color: #f1a204;
    color:#ededed;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.descRpl{
    color:rgb(119, 119, 119);
    font-weight: 400;
}
.donlotRpl{
    background-color: #0c084c;
    color: #ededed;         
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;   
    cursor: pointer;
}
.jurusan .rpl{
    background-color: #ededed;
    color: rgb(108, 57, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

/* Gallery Container */
.container_gallery{
    max-width: 1100px;
    margin: auto;
    
}
.title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 800;
}
.filter-buttons{
    text-align: center;
    margin-bottom: 30px;
}
.filter-btn{
    text-align: center;
    margin: 0px 10px 0px 10px;
    border: 2px solid #ddd;
    background: none;
    color: #555;
    border-radius: 8px;
    padding: 9px 18px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    cursor: pointer;
}
.filter-btn.active,
.filter-btn:hover{
    background-color: #ff6b00;
    color: white;
    border-color: #ff6b00;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gambar{
    width: 30%;
    transition: all 0.5s ease;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}
.gambar img{
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
}
.gambar:hover{
    transform: scale(1.05);
}
.portofoliotkj{
    display: flex;
    gap: 100px;
    /* background-color: yellow; */
}
.listpttkj li{
    margin: 5px 0px 0px -28px;
    font-size: 13px;
}
iframe{
    border-radius: 15px;
    margin-top: 48px;
}
h2{
    font-weight: 600;
    font-size: 20px;
}
.sayyid{
    font-weight: 500;
    font-size: 13px;
}
.lihattkj{
    background-color: #0c084c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 58%;
    margin-top: 10px;
    cursor: pointer;
}
.lihattkj i{
    color: white;
}
.portotkj2{
    display: flex;
    gap: 72px;
    margin-top: 60px;  
}
.cisco, .mikrotik, .php, .ubuntu{
    width: 20%;    
}
.modultkj{
    background-color:#F1A204;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 91%;
    margin-top: auto;
    cursor: pointer;
    
}
.modulrpl{
    background-color:#F1A204;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 91%;
    margin-top: auto;
    cursor: pointer;
    
}
.modulrpl i{
    color: white;
}
.modultkj i{
    color: white;
}
.portofoliodkv{
    display: flex;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.portofoliodkv ul li{
    margin: 5px 0px 0px -30px;
}
.lihatdkv{
    background-color: #0c084c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 58%;
    margin-top: 10px;
    cursor: pointer;
}
.lihatdkv i{
    color: white;
}
.portofoliorpl{
    display: flex;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.gambarptrpl{
    margin-top: 100px;
    width: 100%;

}
.gambarptrpl2{
    display: flex;
    width: 100%;
    gap: 40px;
}
.heathwell, .clevo, .smartfamily, .dotravel{
    width: 25%;
    margin-top: 6%;
}
.psertifikasi{
    text-align: center;
    color: #0c084c;
    font-size: 15px;
    margin-bottom: 5%;
}
.sertifikasi{
    display: flex;
    gap: 10px;
    
}
.sertifikasi2{
    align-items: center;
}
.ps1{
    color: #0c084c;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px;
}
.ps2{
    color: #0c084c;
   font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px;
}
.list-sertifikasi{
    margin-left: -15px;
}
.list-sertifikasi li{
    font-size: 13px;
    margin: 4px 0px 4px 0px;
}
.jdldftr h1, p{
    text-align: center;
}
.tekslokasi{
    color: #0c084c;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: -14px;
    text-align: center;
}
.daftarskrg{
    display: flex;
}
.bergabung{
    background-color: #F1A204;
    color: white;
    padding: 75px;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
}
.bergabung h3, p{
    color: white;
    text-align: left;
}
.jdldftr p{
    text-align: center;
}
.gambardftr{
    width: 100%;
    margin-top: 55px;
}
.hubungihumas{
    background-color: #0c084c;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 430px){
        .navbar{
            flex-direction: column;
        }
        .menu ul{
            flex-direction: column;
            padding: 0%;
           gap: 4px;
        }
        .jurusannn{
           margin: 7% 0% 0% -13%;
        }
        .hero{
            flex-direction: column;
        }
        .container{
            width: 95%;
        }
        .kontakWA{
           flex-direction: column;
           gap: 1px;
           margin: auto;
        }
        .daftar-Btn{
            margin: -10% 0% 3% 0%;
            background-color: #F1A204;
        }
        .logo{
            text-align: center;
            padding: 0%;
            /* background-color: #555; */
            width: 40%;
            margin: auto;
            padding-right: 10px;
            
        }
        .contactMe{
            padding: 4px 9px 4px 9px;
        }
        .photoOrang{
            margin: 0% 0% 0% -20%;
            width: 100%;
        }
        .kartu{
            flex-direction: column;
        }
        .card{
            margin: 2% 0% 2% 0%;
        }
        .jurusannn{
            flex-direction: column;
            width: 90%;
            margin: 0% 0% 0% 0%;
        }
        .gallery{
            flex-direction: column;
            /* align-items: center; */
            width: 340%;
        }
        .fotoPartner{
            flex-direction: column;
            gap: 16px;
            margin-top: 10%;

        }
        .partner-gambar{
            width: 40%;
        }
        .jurusan{
            flex-direction: column;
        }
        .portofoliotkj{
            flex-direction: column;
        }
        .jdlpttkj p{
            text-align: center;
        }
        .lihattkj{
            margin-left: 20%;
        }
        .yttkj iframe{
            width: 100%;
            height: auto;
            margin-top: -10%;
        }
        .portotkj2{
            flex-direction: column;
            align-items: center;
        }
        .cisco, .mikrotik, .php, .ubuntu{
            width: 100%;    
        }
        .modultkj{
            width: 40%;
            margin-left: 27%;
        }
        .portofoliodkv{
            flex-direction: column;
        }
        .ytdkv iframe{
            width: 100%;
            height: auto;
            margin-top: -10%;
        }
        .ytdkv p{
            text-align: left;
        }
        .jdlptdkv{
            margin-top: -37%;
        }
        .jdlptdkv h1, p{
            text-align: center;
        }
        .lihatdkv{
            margin-left: 20%;
        }
        .portofoliorpl{
            flex-direction: column;
        }
        .jdlptrpl h1{
            text-align: center;
        }
        .gambarptrpl{
            margin-top: -16%;
        }
        .gambarptrpl2{
            flex-direction: column;
            align-items: center;
        }
        .heathwell, .clevo, .smartfamily, .dotravel{
            width: 90%;
            margin-top: 6%;
        }
         .heathwell p, .clevo p, .smartfamily p, .dotravel p{
            text-align: left;
        }
        .modulrpl{
            width: 50%;
            margin-left: 24%;
        }
        .sertifikasi{
            flex-direction: column;
            align-items: center;
        }
        .sertif{
            margin-top: 150px;
        }
        .sertifikasi2 img{
            width: 87%;
        }
        .daftarskrg{
            flex-direction: column;
            
        }
        .bergabung p, h3{
            text-align: left;
        }

}